@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    /* border: 1px solid red; */
  }

  .newsletter-sec {
    flex-direction: column;
  }

  .why-choose-sec-cards,
  .img-container,
  .popular-tour-sec {
    display: flex;
    flex-direction: column;
  }

  .banner-sec-form {
    flex-direction: column;
  }

  .banner-sec {
    width: 90%;
    height: 100vh;
  }

  .banner-sec-form {
    width: 90%;
  }

  #where,
  #when,
  #type,
  #search-btn {
    padding: 24px;
  }

  .banner-sec-element p {
    color: #fff;
    width: 80%;

    margin: 24px auto 48px;
  }

  .newsletter-sec-element,
  .newsletter-sec-imgs {
    width: 100%;
  }
  .newsletter-sec-imgs img {
    width: 100%;
  }

  .popular-tour-sec-img img {
    width: 100%;
  }

  /* .badge {
  } */

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
  }

  .nav-links li {
    display: none;
  }

  #menu-bar {
    display: flex;
  }

  .choose-destination-sec-element p,
  .why-choose-sec-element p,
  .footer-sec p {
    width: 100%;
  }
}
